@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#dbab8f, #F2E2DC );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #81665597;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1{
    color:#477207;
    text-align: center;
    text-shadow: 1px 1px 2px #3d5f07ae;
}

h2{
    color: #698C1C;
}

p{
    text-align: justify;
}